<div class="container py-5" style="max-width: 800px;">
  <%= link_to "← Retour aux recettes",
        chat_recipes_path(@recipe.chat),
        class: "btn btn-outline-secondary mb-4" %>

  <div class="card border-0 shadow p-5" style="border-radius: 16px;">
    <div class="fs-1 mb-3">🥗</div>
    <h1 class="fw-bold mb-1"><%= @recipe.name %></h1>



    <hr>

    <div class="mt-4">
      <% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true) %>
      <%= markdown.render(@recipe.content).html_safe %>
    </div>

    <%# ajourdhi %>
    <div class="d-flex gap-2 mt-4">
      <%= link_to "✏️ Modifier", edit_chat_recipe_path(@recipe.chat, @recipe),
            class: "btn btn-outline-secondary" %>
      <%= button_to "🗑️ Supprimer", chat_recipe_path(@recipe.chat, @recipe),
            method: :delete,
            data: { turbo_confirm: "Tu es sûr de vouloir supprimer cette recette ?" },
            class: "btn btn-outline-danger" %>
    </div>


  </div>
</div>
