<div class="d-flex" style="height: calc(100vh - 70px); margin-top: 70px;">
  <%= render partial: "chats/header", locals: { chat: @chat } %>

  <div id="messages" class="mb-4" style="min-height: 200px;">
    <%= render @messages %>
  </div>

  <%= turbo_frame_tag "new_message_form" do %>
    <%= simple_form_for [@chat, @message] do |f| %>
      <%= f.input :content, label: "Ton message", required: true, input_html: { rows: 3 } %>
      <%= f.button :submit, "Envoyer", class: "btn btn-success" %>
    <% end %>
  <% end %>
</div>
